body{
    background: salmon;
}
.section{
    background-color: chocolate;
    height: 600px;
    width: 500px;
    margin: auto;border-radius: 10px;
}
#output2{
    /* margin-left: 500px; */margin: auto;
    position: relative;
    top: 7px;
    display: block;
}
.buttons{
    /* margin-left: 550px; */
    margin: auto;
    position: relative;
    top: 17px;
    left: 100px;
}
.quantity label{
    display:inline-block;
   
    margin: auto;
    position: relative;
    top: 7px;
}
#maximum-quantity{
    text-align: center;
    font-size: 20;
    margin: auto;
    position: relative;
    top: 37px;
    padding-bottom: 0px;
}
.quantity{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    position: relative;
    top: 7px;
    /* margin-left: 550px; */
}
.quantity label{
    font-size: 25px;
    text-transform: capitalize;
    margin: auto;
    position: relative;
    top: 37px;
}
#gotocart{
    background: rgb(106, 45, 185);
    color: rgb(255, 0, 212);
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin: auto;
    position: relative;
    top: 7px;
    padding: 10px;
    text-transform: capitalize;
}
#price{
    font-size: 25px;
    text-align: center;
    margin-top: 51px;
}
#numberoutput{
    text-align: center;
    font-size: 20px;
}